.App{
  display: flex;
  justify-content: space-between;
}

.shoppingList{
  margin-right: 20px;
  
}
.groceriesList{
  margin-left: 20px;
}

.listTitle{
  text-align: center;
  margin-block-start: 2px;
  margin-block-end: 2px;
}



